.logo {
  height: 100px;
  width: 100px;
  margin-left: 100px;
}

.header{
  display: flex;
  justify-content:space-between;
  border: 1px solid black;
  border-radius: 16px;
}

.nav-items-container>ul{
  display: flex;
  list-style-type: none;
  margin-right: 100px;
}

.nav-items-container>ul>li{
  padding: 8px;
  margin: 8px;
}

.res-card{
  height: 300px;
  width: 200px;
  border-radius: 16px;
  padding: 5px;
  margin: 10px;
}


.res-container{
  display: flex;
  flex-wrap: wrap;
}
.res-card:hover{
  cursor: pointer;
  border: 1px solid black;
}

.res-logo{
  width: 100px;
}

.search{
  margin: 20px;
}

.filter-btn{
  margin: 8px;
}
